<!DOCTYPE html>
<html>
<head>
    <title>Review Syllabus</title>

    <link rel="stylesheet" href="/static/css/reviewer.css">
</head>
<body>

<div class="container">

    <h2>Review Syllabus</h2>

    <p><b>Subject:</b> {{ s.subject_code }} - {{ s.subject_name }}</p>
    <p><b>Version:</b> {{ s.version }}</p>
    <p><b>Status:</b> {{ s.status }}</p>

    <hr>

    <h3>📄 Content</h3>
    <p>{{ s.content }}</p>

    <hr>

    <!-- APPROVE -->
    <form method="post"
          action="/reviewer/approve/{{ s.id }}"
          onsubmit="return confirmApprove();">
        <button class="btn-approve" type="submit"> Approve</button>
    </form>

    <br>

    <!-- REJECT -->
    <form method="post"
          action="/reviewer/reject/{{ s.id }}"
          onsubmit="return confirmReject();">

        <label> Reject Reason:</label><br>
        <textarea name="reason" required rows="4"></textarea><br><br>

        <button class="btn-reject" type="submit">Reject</button>
    </form>

</div>

<script src="/static/js/reviewer.js"></script>

</body>
</html>
